html, body, form, fieldset, table, tr, td, img {
  margin: 6;
  padding: 0;
  font: 100%/150% Tahoma, sans-serif;
  color: rgb(231, 206, 184);
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

body {
  font-size: 0.875em;
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: rgb(250, 247, 221);
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: rgb(250, 247, 221);
  text-decoration: underline;
}
