html, body, form, fieldset, table, tr, td, img {
  margin: 6;
  padding: 0;
  font: 100%/150% Tahoma, sans-serif;
  color: rgb(192, 213, 219);
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

body {
  font-size: 0.875em;
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: rgb(192, 213, 219);
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: rgb(192, 213, 219);
  text-decoration: underline;
}

.imgrow {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}